html {
    overflow-x: initial !important;
}

:root {
    /* --bg-color: #ffffff; */
    --text-color: #333333;
    --select-text-bg-color: #B5D6FC;
    --select-text-font-color: auto;
    --monospace: "Lucida Console", Consolas, "Courier", monospace;
}

html {
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0px;
    padding: 0px;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100%;
    font-size: 1rem;
    line-height: 1.42857;
    overflow-x: hidden;
    background: inherit;
    tab-size: 4;
}

#navbarwrap img{
    border-radius:3px;
}
#navbarwrap small{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-xu{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    transform: scale(2.2);
}
.grid-xu::before, .grid-xu::after{
    opacity: .5;
    content: '';
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.grid-xu::before{
    background: radial-gradient(circle , #5a5a5a .5px, transparent .5px);
    background-size: 10px 10px;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
}


/* 网站底部版权样式 */
footer {
    position: fixed;
    clear: both;
    width: 100%;
    height: 22px;
    bottom: 0ch;
    background-color: #32771d;
    text-align: center;
    opacity: 0.65;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

footer a {
    text-decoration:none;
    color: #eeeeee;
    line-height: 20px;
    font-size: 0.875em;
    display:inline;
    inline-size: 30%;
}

footer .copyright {
    color: #eeeeee;
    font-size: 0.875em;
    display:inline;
    inline-size: 30%;
}