<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <title>Video Quality Assessment</title>
    <script src="/static/js/jquery-3.6.0.js"></script>
    <script>
      let testednumber={{ testednumber }};

      function repaint_video(data){
        console.log(data);
        $('#current_videocaption').text(data.video_caption);
        $('#current_videoID').text(data.video_videoID);
        $('#my-video_html5_api').attr("src",data.video_url);
        $('#current_video').attr("src",data.video_url);
      }

      $(function(){
        $('#btn_true').click(function(){
          let videoid = $('#current_videoID').text();
          $.get('/get_quality/?res=2&id='+videoid,function(data){
            if (data["status"]!='ok') console.log("can't recieve response");
            else {
              console.log('send data successfully');
              testednumber+=1;
              $.get('/get_next/?testednumber='+testednumber,function(data){
                if (data["status"]=="end"){
                  window.location.replace("{% url 'thankspage' %}");
                }
                repaint_video(data);
              });
            }
          })
        })
        $('#btn_uncertain').click(function(){
          let videoid = $('#current_videoID').text();
          $.get('/get_quality/?res=1&id='+videoid,function(data){
            if (data["status"]!='ok') console.log("can't recieve response");
            else {
              console.log('send data successfully');
              testednumber+=1;
              $.get('/get_next/?testednumber='+testednumber,function(data){
                if (data["status"]=="end"){
                  window.location.replace("{% url 'thankspage' %}");
                }
                repaint_video(data);
              });
            }
          })
        })
        $('#btn_fake').click(function(){
          let videoid = $('#current_videoID').text();
          $.get('/get_quality/?res=0&id='+videoid,function(data){
            if (data["status"]!='ok') console.log("can't recieve response");
            else {
              console.log('send data successfully');
              testednumber+=1;
              $.get('/get_next/?testednumber='+testednumber,function(data){
                if (data["status"]=="end"){
                  window.location.replace("{% url 'thankspage' %}");
                }
                repaint_video(data);
              });
            }
          })
        })
      })

    </script>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <hr>
    <div class="container">
      <h3 class="text-center" id="current_videocaption">{{video.caption}}</h3>
      <p id="current_videoID" style="display:none">{{video.videoID}}</p>
      <video
      id="my-video"
      class="video-js vjs-default-skin vjs-big-play-centered"
      controls
      preload="auto"
      width="auto"
      height="auto"
      autoplay="true"
      muted
      data-setup="{}">
        <source src="{{video.video.url}}" id="current_video" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
      <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
    </div>
    
    
    
    <hr>
    <input type="button" id="btn_true" value="自然，不是伪造视频">
    <input type="button" id="btn_uncertain" value="有些不自然，可能是伪造视频">
    <input type="button" id="btn_fake" value="不自然，是伪造视频">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery loaded at top -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>