<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/basestyle.css">

    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="grid-xu"></div>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'loginpage' %}" id="navbarwrap">
          <img
            src="/static/img/navbaricon.png"
            class="me-2"
            height="20"
            alt="Logo"
            loading="lazy"
          />
          <small>视频评估平台</small>
        </a>
      </div>
    </nav>
    {% block content %} {% endblock %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    
    <footer>
      <p class="copyright">&copy; made by George, supported by WMGroup</p>
    </footer>
  </body>
</html>
