{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>登陆失败</title>
{% endblock %}
{% block content %}

<div style="width: 40%;height: 50%;top: 50%;left:50%;position: absolute;transform: translate(-50%,-50%);">

  <div class="card border border-light" style="box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);">
    <div class="card-header" style="font-size:2.2em;text-align: center;">登录失败！</div>
    <div class="card-body">
      <h5 class="card-title">请输入姓名、邮箱地址以及正确序列号进行登录！</h5>
      <br>
      <p class="card-text">获取序列号请联系<strong>georgefen@qq.com</strong>，注意，<strong style="color: red;">一个序列号仅用于一次测试。</strong></p>
      <p class="card-text">如有问题，请联系<strong>georgefen@qq.com</strong>。</p><br>
      <a href="{% url 'loginpage' %}" style="text-decoration:none;text-align: center;">
          <p>回到登录首页</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}